@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');


.App {
  background-color: white;
  margin: 0;
  padding: 5px;
  height: 100%;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
  height: 100%;
}

.name-header {
  margin: 5%;
  font-family: 'Courier Prime', monospace;
}
.menu-item {
  appearance: none;
  font-size: 20px;
  padding: 2px;
  margin: 5px 0 5px 0;
  color: #0e9aa7;
  letter-spacing: 1px;
  transition: letter-spacing 0.5s;
  transition: background-color 0.5s;
  background-color: white;
}

.menu-item:hover {
  text-decoration: none;
  letter-spacing: 3px;
  background-color: #fcf876;
  border-radius: 2px;
  padding: 5px;
  color: #0e9aa7;
  
}

.intro-p {
  width: 60%;
  margin: 40px 0 10px 50px;
}

.about-my-work {
  width: 60%;
  margin: 40px 0 10px 50px;
}

.project-section {
  display: flex;
  justify-content: center;
  padding: 5px;
  margin: 5px;
}

#footer-line {
  height: 5px;
  color: #333333;
  width: 94%;
}

.socials {
  display: flex;
  text-align: center;
  margin: 5px;
  padding: 5px;
  justify-content: center;
}

.full-disclosure {
  font-size: small;
  margin: 5px;
}

.footer {
  text-align: center;
}

.social-links {
  padding: 5px;
  margin: 5px;
  font-family: 'Courier Prime', monospace;
  color: #ed6663;
}

.social-links:hover {
  text-decoration: none;
  letter-spacing: 3px;
  background-color: #fcf876;
  border-radius: 2px;
  padding: 5px;
  color: #0e9aa7;
}

.contact-links {
  margin: 3px 0 10px 0;
  font-family: 'Courier Prime', monospace;
  color: #0e9aa7;
}

.contact-links:hover {
  text-decoration: none;
  letter-spacing: 3px;
  background-color: #fcf876;
  border-radius: 2px;
  padding: 5px;
  color: #0e9aa7;
}


.project-card {
  padding: 5px;
  margin: 5px;

}

.proj-text {
  width: 60%;
  margin: 40px 0 10px 50px;
}

.proj-disclosure {
  width: 60%;
  font-size: smaller;
  font-style: italic;
  margin: 10px 0 10px 50px;
}

.cover-img {
  border-radius: 5px;
  width: 60%;
  box-shadow: 0px 5px  15px rgba(0, 0, 0, 0.4);
  margin: 10px 0 10px 0;
}

.cover-img:hover {
  width: 62%;
  cursor: pointer;
}

.view-web-btn {
  appearance: none;
  outline: 2px #fafafa;
  border: 2px #fafafa;
  box-shadow: 0px 5px  15px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0 50px 0;
  background-color: #fafafa;
  color: #0e9aa7;

}

.view-web-btn:hover {
  box-shadow: none;
}

.projects {
  text-align: center;
  margin: 50px 0;
}

.email {
  color: #ed6663;
}

.social-sec {
  display: flex;
}

.soc {
  margin: 20px 30px 30px 0;
  padding: 5px;
}

#console {
  color: #41aea9;
}

#log {
  color: #cdb30c;
}

#ging {
  color: green;
}

#hello {
  color: #bb3b0e;
}

.tech-section {
  margin: 40px 0 10px 50px;
}

.contact-div {
  margin: 40px 0 10px 50px;
}

.modal-dialogue {
  max-width: auto;
}

.modal-styling {
  font-family: 'Courier Prime', monospace;

}

.modal-content {
  border-radius: 2px;
}

.profile-pic {
  width: 30%;
  margin: 40px 0 10px 50px;
}



.pic-sec {
  text-align: center;
  width:60%;
}