@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

/*font
font-family: 'Source Serif Pro', serif;
font-family: 'Courier Prime', monospace;
font-family: 'Source Serif Pro', serif;

*/

.App {
  background-color: white;
  margin: 0;
  padding: 5px;
  height: 100%;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
  height: 100%;
}

.name-header {
  margin: 5%;
  font-family: 'Courier Prime', monospace;
}
.menu-item {
  appearance: none;
  font-size: 20px;
  padding: 2px;
  margin: 5px 0 5px 0;
  color: #0e9aa7;
  letter-spacing: 1px;
  transition: letter-spacing 0.5s;
  transition: background-color 0.5s;
  background-color: white;
}

.menu-item:hover {
  text-decoration: none;
  letter-spacing: 3px;
  background-color: #a8dda8;
  border-radius: 2px;
  padding: 5px;
  color: #0e9aa7;
  
}

.intro-p {
  width: 60%;
}

.about-my-work {
  width: 60%;
}

.project-section {
  display: flex;
  justify-content: center;
  padding: 5px;
  margin: 5px;
}

#footer-line {
  height: 5px;
  color: #333333;
  width: 94%;
}

.socials {
  display: flex;
  text-align: center;
  margin: 5px;
  padding: 5px;
  justify-content: center;
}

.full-disclosure {
  font-size: small;
  margin: 5px;
}

.footer {
  text-align: center;
}

.social-links {
  padding: 5px;
  margin: 5px;
  font-family: 'Courier Prime', monospace;
  color: #0e9aa7;
}

.social-links:hover {
  text-decoration: none;
  letter-spacing: 3px;
  background-color: #fcf876;
  border-radius: 2px;
  padding: 5px;
  color: #0e9aa7;
}


.project-card {
  padding: 5px;
  margin: 5px;

}

